In [1]:
import numpy as np

In [2]:
import pandas as pd
from scipy import stats

In [3]:
df = pd.DataFrame({'a': np.random.randint(0,2,10), 'b': np.random.randint(0,2,10)})

In [4]:
df

   a  b
0  1  1
1  0  1
2  0  1
3  0  1
4  0  0
5  1  0
6  0  0
7  0  1
8  1  1
9  0  0

In [5]:
df['a'].std()

0.4830458915396479

In [6]:
df['a'].value_counts()

0    7
1    3
Name: a, dtype: int64

In [7]:
a_nulla = df['a'].value_counts(normalize=True)[0]
a_cenverted = df['a'].value_counts(normalize=True)[1]

In [8]:
a_nulla

0.7

In [8]:
a_cenverted

0.7

In [9]:
stats.norm.pdf(3.09) * 2

0.0067390160413549624